<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Product details</title>
    <link rel="stylesheet" th:href="@{/resources/style.css}">
</head>

<body>

<nav th:replace="fragments/navbar.html :: navbar"/>

<h1>Product details</h1>

<form th:action="@{/products}" th:object="${product}" th:method="put">
    <input th:type="hidden" th:field="*{id}">
    <p>Product Name:</p>
    <p><input type="text" th:field="*{name}" th:value="${name}"></p>
    <p>Product Cost</p>
    <p><input type="text" th:field="*{cost}" th:value="${cost}"></p>
    <p>Product Description</p>
    <p><input type="text" th:field="*{description}" th:value="${description}"></p>
    <button sec:authorize="hasRole('ROLE_ADMIN')" type="submit">Update</button>
</form>
<form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/products}" th:object="${product}" th:method="delete">
    <input th:type="hidden" th:field="*{id}">
    <button type="submit">Delete</button>
</form>

</body>
</html>